{# Exclude machines where virt tests are unsupported #}
{% if ARCH == "aarch64" %}
  <not>
    <or>
      <hostname op="like" value="mustang%"/>
      <hostname op="like" value="hp%moonshot-%"/>
    </or>
  </not>
{% endif %}
{% if ARCH == "x86_64" %}
  <hostname op="!=" value=" hpe-bl490cg6-01.hpe2.lab.eng.bos.redhat.com"/>
{% endif %}
