{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distroRequires %}
  <name op="=" value="RHEL-8.1.0-20191015.0"/>
  <variant op="=" value="BaseOS"/>
{% endset %}
{% set repos %}
  <repo name="pulp_0" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/dist/rhel8/8/{{ ARCH }}/appstream/os/"/>
  <repo name="pulp_1" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/dist/rhel8/8/{{ ARCH }}/baseos/os/"/>
  <repo name="pulp_2" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/dist/rhel8/8/{{ ARCH }}/codeready-builder/os/"/>
  <repo name="pulp_3" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/dist/rhel8/8/{{ ARCH }}/rt/os/"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=true) }}
  <ks_append><![CDATA[
%post
cat >/etc/yum.repos.d/BUILDROOT-8.repo <<EOF
[BUILDROOT-8]
name=BUILDROOT-8
baseurl=http://download.devel.redhat.com/rhel-8/rel-eng/BUILDROOT-8/BUILDROOT-8.1.0-RHEL-8-20191015.0/compose/Buildroot/{{ ARCH }}/os/
enabled=1
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
{{- common.job(distroRequires=distroRequires,
               ks_append=ks_append, repos=repos) -}}
